 body {
        background-color: lightblue;
    }

    div.static {
  position: static;
  border: 3px solid #b90b0b;
}

div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
}